<a href="javascript:(() => {
    function b(n) {
      const d = String.fromCharCode(34);
      const x = ' SCRIPT NOSCRIPT STYLE SVG';
      var l, r, t,
      q = (s) => d + s + d,
      u = (s) => s.substring(1, s.length-1),
      s = (a) => a.length > 1 ? ('[' + a.join(',') + ']') : a[0],
      c = (k, v) => d + k + d + ':' + v,
      i = (c, t, f) => c ? t : f;

      if (n == null)
        r = '{' + c('PAGE', '{' + [c('VERSION',1),c('URL', q(location.href)), c('TIME', Date.now()),
	          u(b(document.head)), u(b(document.body))].join(',') + '}') + '}';
      else if (n.nodeType == Node.ELEMENT_NODE) {
	  if (n.style.display != 'none' && n.hasChildNodes()) {
	    l = n.nodeName.toUpperCase();
	    if (x.search(' ' + l) == -1) {
  	      t = []; for (const c of n.childNodes) t.push(b(c)); t = t.filter(Boolean);
	      r = l + i(n.hasAttribute('id'), ' ' + n.id, '');
	      r = i(t.length > 0, '{' + c(r, s(t)) + '}', q(r));
	    }
	  }
      } else if (n.nodeType == Node.TEXT_NODE) {
	  t = n.textContent.replace(/\s\s+/g, ' ').trim().replace(new RegExp(d, 'g'), '\\' + d);
	  if (t != '') r = q(t);
      }

      return r;
    }
    navigator.clipboard.writeText(b())})();">Convert this page to JSON</a>
