body {
    font-size: 200%;
    background-color: #006;
    color: #fcdb03;
    padding:10px;
    width: 100%;
    height: 100%;
}
.error {
    color: #C00;
}
.mob {
    color: #F00;
}
.countdown {
    font-size: 400%;
    color: #0F0;
    text-align: center;
}
.countup {
    font-size: 400%;
    color: #FF0;
    text-align: center;
}
.show {
    display: block;
}
.hide {
    display: none;
}
